<VirtualHost *:80>

  WSGIDaemonProcess eric-pi python-path=@INSTALL_PATH@:@INSTALL_PATH@/venv/lib/python3.2/site-packages
  WSGIProcessGroup eric-pi

  WSGIScriptAlias / @INSTALL_PATH@/beer/wsgi.py

  <Directory @INSTALL_PATH@/beer>
    <Files wsgi.py>
      Order allow,deny
      Allow from all
    </Files>
  </Directory>

</VirtualHost>
